html {
  background: url("img/download.jfif") no-repeat center fixed;
  background-size: cover;
}

body {
  background-color: cadetblue;
  border: 2px solid black;
  width: 600px;
  margin: auto;
  padding: 25px 75px;
  border-radius: 10px;
}
h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(255, 255, 255);
}
.center {
  text-align: center;
}
img {
  border: 2px solid black;
  border-radius: 20px;
}
p {
  font-size: large;
}
